.message
  .message__upper-info
    .message__upper-info__talker
      test
    .message__upper-info__date
      test
.lower_message
  -# - if message.content.present?
  %p.message__text 
    test
  -# = image_tag message.image.url, class: 'lower-message__image' if message.image.present?